body{
    background-color: #333333;
    margin: 0px;
}


.box{
    width: 250px;
    height: 250px;
    border: 5px solid black;
    font-size: 13em;
    text-align: center;
    box-shadow: 10px 100px 20px #000000;

    transform: translateX(100px) rotateZ(45deg) scale(0.5);

}

#box1{
    background-color: #00700a;


    /*makes the div move to the right on the x axis #50 pixels*/
    /*percentages make it go relative to the width/height of the element ie. 100% meaning to the right
      100% of the width neg means left or inverse*/
    /*transform: translateX(50px);*/

    /*positive values make the div go DOWN neg makes it go UP*/
    /*transform: translateY(100%);*/


/*  can do both axis with just transform: ie
    transform: translate(x,y);
*/

    /*roates  the div 45 degress*/
    /*transform:rotate(45deg);*/

    /*transform: rotateX(180deg);*/

    /*tranform: rotatey(180deg);*/

    /*transform: scaleX(1.2);*/
    /*transform: scale(1,1); FOR BOTH X AND Y*/



    /*                      ________
    makes the thingy go    /       /
                          /       /
                         / H  I  /
                        /       /
                       /       /
                      ---------
    */
    /*transform: skew(0deg, 67deg);*/
    /*YOU DO THEM ALL TOGETHER*/
    /*transform: translateX(100%) rotateZ(90deg) scale(0.5);*/

}

#box2{
background-color: #ff0000;}
#box3{
background-color: #06344e;}

img{
    transform: translateX(100%) rotateZ(180deg) scale(2) skew(0deg) skew(0deg) ;
}