*{
    padding : 0;
    margin : 0;
    box-sizing : border-box;
}
body{
    font-family: 'archivo', serif;

    /*background-image: linear-gradient(to bottom right,#333333, #1c1c1c);*/
    background-color: #333333;
}

