/*all three elements align now since it accounts for the padding*/
*{box-sizing:border-box;}
body{
    background-color: #333333;
    margin: 0;

}
header{
    background-color: #2a2a2a;
    text-align: center;
    padding: 25px;
}

.navBar{
    background-color: #269cd4;
    height: 50px;
}

aside{
    width: 20%;
    float: left;
    padding:10px;
}
#section1{
    width: 40%;
    float: left;
    padding:10px;
}
article{
    width: 40%;
    float: left;
    padding:10px;
}
footer{
    display: block;
    clear: both;
    background-color: #2a2a2a;
    text-align: center;
    padding: 25px;
}
#food{
    width: 100%;
    padding:10px;
    text-align: center;
    margin: 0 auto;
    float: none;
}
.gallery{
    display: inline-block;
    border: 2px solid #1e1e1e;
    margin: 25px;
    width: 200px;
}
.gallery .desc{
    padding: 10px;
    text-align: center;

}
.gallery:hover{
    border: 2px solid #464646;
    transform: scale(1.1);
    box-shadow:2px 2px 10px #269cd4;

}
.gallery img{
    width: 100%;
    height: auto;
}

/*if the width is 600px or below we can change properties*/
/*allows mobile viewing its responsive css*/
@media screen and (max-width: 600px){
    aside,section,article,.gallery{
        width: 100%;
    }
}



