body{
    background-color: #333333;
}

.icons{
    text-align: center;

}
/*can replace spaces with a . */
.fa-solid.fa-house.fa-5x{
    color:#black;
}
.fa-brands.fa-twitter.fa-5x{
    color:#269cd4;
}
.fa-brands.fa-youtube.fa-5x{
    color:red;
}
.fa-brands.fa-tiktok.fa-5x{
    color:black;
}
