/*all three elements align now since it accounts for the padding*/
*{box-sizing:border-box;}
body{
    background-color: #333333;
    margin: 0;

}
header{
    background-color: #2a2a2a;
    text-align: center;
    padding: 25px;
}

.navBar{
    background-color: #269cd4;
    height: 50px;
}

aside{
    width: 20%;
    float: left;
    padding:10px;
}
section{
    width: 40%;
    float: left;
    padding:10px;
}
article{
    width: 40%;
    float: left;
    padding:10px;
}
footer{
    display: block;
    clear: both;
    background-color: #2a2a2a;
    text-align: center;
    padding: 25px;
}
/*if the width is 600px or below we can change properties*/
/*allows mobile viewing its responsive css*/
@media screen and (max-width: 600px){
    aside,section,article{
        width: 100%;
    }
}

