body {
    background-color: #333333;
/*    you can used named colors too, like slategrey;
      or rgb or hexadecimal
*/
}

header{
 background-color: #0096ff;
 border-radius: 10px;
 padding: 8px;
}

footer{
    background-color: #0096ff;
    border-radius: 10px;
    padding: 8px;
}

div{
    border: 2px solid;
    height: 100px;
    /*overflow: hidden;*/
    /*overflow-clip-margin: 20px;*/
    overflow: auto;
}
.div2{
    background-color: #269cd4;
    width: 100px;
    height: 100px;
    display: inline-block;
    visibility: hidden;
}
span{
    background-color: teal;
    width: 100px;
    height: 100px;
    display: block;
}
/*common to see.....*/
*{
    box-sizing: border-box;
}

.container{
    background-color: #0cd4e8;

}
.box1{
    border: 2px solid;
    padding: 25px;
    box-sizing: border-box;
    height: auto;
    width: 50%;
    float: left;
    text-align: center;
    min-height: 75%;
    position: sticky;
    /*max-width: 25%;*/
    /*min-width: 75%;*/

}

.div3 {
    width: 200px;
    height: 200px;
    background-color: teal;
    padding: 10px;
    /*position: relative;*/
    /*!*this will go down from top 100px from where it RELATIVELY IS*!
    /*top: 100px;*/
    /*left: 100px;*/

    /*in this example the box is locked or fixed in the bottom right corner of the site*/
    /*position: fixed;*/
    /*right: 0px;*/
    /*bottom: 0px;*/


    /*this is used for ABSOLUTE*/
    /*position: fixed;*/
    /*top: 100px;*/
    /*left: 100px;*/

    /*stays in the same place until you scroll passed it, like those annoying banner websites where its top banner follows you*/
    /*position: sticky;*/
    /*top: 0;*/


    /*regular position, doesnt move*/
    position: static;

}

.div4 {
    width: 100px;
    height: 100px;
    background-color: mediumseagreen;

    /*its positioned relative to its nearest ancestor meaning if this box is positioned in the center inside another
    container, then it will stay inside that container in the same spot even if the parent container moves */
    /*position: absolute;*/
    /*top: 50px;*/
    /*left: 50px;*/
}

.second{

}
.third{

}
.fourth{

}
.fifth{

}
.sixth{

}