body{
background-color: #333333;
}

.a:link{
    color: aliceblue;
}

.a:hover{
    color: #06344e;
    font-size: 1.1em;

}

.a:active{
    font-size: 1.1em;
    color: black;
}

.a:visited{
    color: white;
}


li:hover{
    background-color: yellow;
}

li:not(:hover){
    background-color: #333333;
    color: #333333;
}

/*li:nth-child(3n){*/
/*    background-color: #0099ff;*/
/*}*/

#buttonHov{
    margin: 10px;
    border-radius: 10px;
    border: 10px solid white;

}