body{
    /*background-image: url("../Images-and-files/pretty-Rock.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-position: center ;*/
    /*background-attachment: fixed;*/
    /*background-size: cover;*/
    position: relative;
}
#container2{
    border: 2px solid;
}


/*#container2 p{*/
/*!*all paragraph descendant are grey *!*/
/*!*    background-color: lightgray;*!*/
/*}*/

/*any child of container 2 will be grey */
/*
<div id="container2">

    <p>This is #1</p>
    <p>This is #2</p>
    <div>
        <p>This is #3</p> <---------- THIS IS A DESCENDANT NOT A CHILD
    </div>

</div>
<p>This is #4</p>           <----------- SIBLINGS
<p>This is #5</p>           <-----------
*/
/*#container2 > p{*/
/*    background-color: lightgray;*/

/*}*/

/*general sibling*/
/*#container2 ~ p{*/
/*    background-color: lightgray;*/

/*}*/



/*the next adjacent sibling*/
#container2 + p{
    background-color: lightgray;

}


/*pusedo class*/
/*button:hover{*/
/*    font-size: 1.1em;*/
/*    background-color: green;*/
/*}*/

/*button:active{*/
/*    font-size: 1.1em;*/
/*    background-color: red;*/
/*}*/

.button1{
    position: absolute;
    top: 10px;
    right: 10px;
    border: 2px;

}
.button1:link{
    color: lightblue;

}
.button1:hover{
    color: #269cd4;
    font-size: 1.1em;
}