body {
    background-color: #333333;
}

header{
 background-color: #0096ff;
 border-radius: 10px;
 padding: 8px;
}

footer{
    background-color: #0096ff;
    border-radius: 10px;
    padding: 8px;
}
.second{

}
.third{

}
.fourth{

}
.fifth{

}
.sixth{

}