@font-face{
    src:url(../Images-and-files/fonts/Montserrat/Montserrat.ttf);
    font-family:montserrat;
}
body{
    margin: 0px;
    font-size: 1em;
    background-color: #333333;
    border: 3px solid #269cd4;
    display: flow-root;
}

h1{
    /*font-family: verdana, arial, sans-serif;*/
    /*border-style: solid;*/
    /*border-width: 3px;*/
    /*border-color: #269cd4;*/
/*    short hand syntax below*/
    border: 3px solid #269cd4;
    border-radius: 20px;
    padding: 10px;
    background-color: #0099ff;
    text-shadow: 3px 3px 5px #333333,-3px -3px 5px teal;
}
/*this is the class for box*/
/*.*/
/*    padding: 10px;*/
/*    font-size: 1em;*/
/*}*/
/*vs this is the actual name for the box/id*/
#box1{
    width: 500px;
    height: 100px;
    background-color: darkgray;
    box-shadow: 3px 3px 5px #269cd4;
    border:2px solid black;
    padding-left: 10px;
}
#box2{
    border: 5px solid black;
    /*font-size: 5em;*/
    width: 250px;
    height: 250px;
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 10px;
}
#img1{
    float:left;
    margin-right: 10px;
}

#img2{
    float:right;
    margin-left:10px;
}

.p1{
    padding: 10px;
    /*border-radius: 10px;*/
    background-color: #0099ff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 15px;
    border-bottom: 3px solid #269cd4;
    border-top: 3px solid #269cd4;
    border-left: 3px solid #269cd4;
    border-right: 3px solid #269cd4;
    font-family: "Montserrat","lucida console", "courier new";
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    font-color : normal;
}