body{
    background-color: #333333;
}
#box{
    width: 250px;
    height: 250px;
    background-color: red;
    font-size: 13em;
    text-align: center;
    animation-name: slideLeft;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-direction: alternate-reverse;
    /*in JS this animation could be toggles on and off*/
    animation-play-state: running;
    animation-timing-function: cubic-bezier(1,-1.67, 0.3, 2.29);

}
img{
    animation-name: slideLeft;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-direction: reverse;
    /*in JS this animation could be toggles on and off*/
    animation-play-state: running;
    animation-timing-function: cubic-bezier(.4,.5, .5, 1);
}


#box:hover{
    /*animation-name: glow;*/
    /*animation-duration: 2s;*/
}

@keyframes slideLeft {
/*    to
      from
      or percent
*/
    from{
        transform: translateX(400%);
    }
}

@keyframes slideRight {
    to{
        transform: translateX(400%);
    }
}
@keyframes slideUp{
    from{
        transform: translateY(400%);
    }
}
@keyframes slideDown{
    from{
        transform: translateY(-400%);
    }
}
@keyframes rotate{
    /*gets to the point at 50% of the speed the return with the remaining 50%
     aka gets done in half the time or whats left*/
    50%{
        transform: rotateX(360deg);
    }
}
@keyframes grow{
    50%{transform: scale(2,2);}
}
@keyframes shrink {
    50% {
        transform: scale(.5, .5);}
}
@keyframes fade{
    50%{opacity: 1;}
}
@keyframes colorChange{
    0%{ background-color: red;}
    20%{ background-color: orange;}
    40%{ background-color: yellow;}
    60%{ background-color: green;}
    80%{ background-color: blue;}
    100%{ background-color: purple;}
}
@keyframes glow{
50%{box-shadow: 0 0 50px yellow;}}
