body{
    background-color: #333333;
}

.icons{
    text-align: center;

}
.icons a{
text-decoration: none;
margin-right: 20px;
}

/*can replace spaces with a . */
.fa-solid.fa-house.fa-5x{
    color:black;
}
.fa-solid.fa-house.fa-5x:hover{

    color: #1b1b1b;
}
.fa-brands.fa-twitter.fa-5x{
    color:#269cd4;
}
.fa-brands.fa-twitter.fa-5x:hover{
     color: #2ba9e8;

 }
.fa-brands.fa-youtube.fa-5x{
    color:red;
}
.fa-brands.fa-youtube.fa-5x:hover{
    color: #fa3535;
}
.fa-brands.fa-tiktok.fa-5x{
    color:black;
}
.fa-brands.fa-tiktok.fa-5x:hover{
    color: #272727;
}
