@font-face{
    src:url(../archivo.ttf);
    font-family:archivo;
}
*{box-sizing:border-box;}

body{
    /*background-image: linear-gradient(to bottom right,#333333, #1c1c1c);*/
    font-family: archivo, serif;
}

#navbar {
    width: 100%;
    right:0;
    left:0;
    height: 80px;
    /*background-color: #269cd4;*/
    background-color:rgba(38, 156, 212, 0.85);
    border: 3px solid #238dbf;
    padding: 14px;
    display: flex;
    align-items: center;
    justify-content: center; /* Center all buttons as a group */
    position: fixed;
    top: 0;
    /*THIS IS NECCESARY DO NOT DELETE*/
    transition: transform .5s ease ;
    z-index: 1000;
        }

.hidden-navbar{
    transform: translateY(-110%);
    transition: transform 0.5s ease;
}
/*right shift navbar*/
.hidden-navbar-rs{
    transform: translateX(110%);
    transition: transform 0.5s ease;

}


.liquid-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /*justify-content: space-between;*/
    /*align-items: center;*/
    height: 100%;
    background: transparent;
    gap: 32px;
    padding: 0 2rem;
    /*margin-right: 10rem;*/
    /*margin-left: 0px;*/
}

.logo{
    width: 100px;
    align-self: start;
    /*left:-25px;*/

}
.logo-container {
     position: absolute;
     /*display: flex;*/
     /*align-items: flex-start;*/
     left: -.7rem;

 }

.liquid-element-rr,
.liquid-element-rl,
.liquid-cont-element-rl {
    width: 120px;
    height: 40px;
    background-image: linear-gradient(to bottom right,#333333, #1c1c1c);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

.liquid-element-rr span,
.liquid-element-rl span,
.liquid-cont-element-rl span {
    color: #fff;
    font-size: 1rem;
    position: relative;
    z-index: 2;
    pointer-events: none;
}

.liquid-cont-element-rl {
    width: 150px;
    height: 40px;
    background-image: linear-gradient(to bottom right,#333333, #1c1c1c);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    margin: 0;
    padding: 0;

}

.liquid-element-rr::before,
.liquid-element-rl::before,
.liquid-cont-element-rl::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: conic-gradient(
            #269cd4 0deg,
            #333333 120deg,
            #269cd4 240deg
    );
    transition: all 0.6s ease;
    opacity: 0;
    transform: scale(0);
}

.liquid-element-rr:hover {
    border-radius: 10px;
    transform: rotate(5deg);
}

.liquid-element-rl:hover,
.liquid-cont-element-rl:hover {
    border-radius: 10px;
    transform: rotate(-5deg);
}

.liquid-element-rr:hover::before,
.liquid-element-rl:hover::before,
.liquid-cont-element-rl:hover::before {
    opacity: 0.5;
    transform: scale(2);
}

/*this is the actual hamburger menu button*/
#hamburger{
display: block;
position: fixed;
top: 8px;
right: 1.5rem;
z-index: 1200;
    background-image: linear-gradient(to bottom right,#333333, #1c1c1c);
color: #fff;
border: none;
font-size: 2rem;
border-radius: 8px;
padding: 8px 16px;
cursor: pointer;
}

.hamburg-container {
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
    /*height: 100%;*/
    /*background: transparent;*/
    /*gap: 32px;*/
}
/**/
.hamburger-element {
position: relative;
overflow: hidden;

}
.hamburger-element::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: conic-gradient(
            #269cd4 0deg,
            #333333 120deg,
            #269cd4 240deg
    );
    transition: all 0.6s ease;
    opacity: 0;
    transform: scale(0);
    z-index: -1;
}
.hamburger-element:hover::before {
     opacity: 0.5;
     transform: scale(2);
 }
.hamburger-element span {
    color: #fff;
    font-size: 1.2rem;
    position: relative;
    z-index: 2;
    pointer-events: none;
}


/*when the user hovers over the hamburger button*/
#hamburger:hover
{
    width: 60px;
    height: 60px;
    background-image: linear-gradient(to bottom right,#333333, #1c1c1c);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    text-decoration: none;
    color: #fff;
    font-size: 1.8rem;
}
/*this is the actual vertical navbar with the buttons*/
#mobile-navbar {
height: 100%;
width: 80%;
max-width: 360px;
position: fixed;
top: 0;
right: 0;
background-color: rgba(38, 156, 212, 0.85);
display: flex;
/*ontop of other elements like a rock on top of a piece a paper, bigger number, more on top*/
z-index: 1000;
flex-direction: column;
transition: transform .5s ease


}
.liquid-container-mobile {
    display: flex;
    /*this is the actual element that determines the gap between each button*/
    gap: 32px;
    flex-direction: column;
    /*justify-content: space-between;*/
    /*align-items: center;*/
    height: 100%;
    background: transparent;

    align-items: center;
    justify-content: center;

}

#mobile-navbar.active {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
}


#mobile-navbar a,
#mobile-navbar .liquid-element-rr,
#mobile-navbar .liquid-element-rl,
#mobile-navbar .liquid-cont-element-rl {
    width: 65%;
    margin: 8px 0;
    text-align: center;
}

#mobile-navbar.hidden-navbar{
    transform: translateX(100%);
    transition: transform 0.5s ease;
}
@media (max-width: 900px){
    .logo-container {
        left: -1.5rem;
    }
}
@media screen and (max-width: 800px){
    #navbar{
        display: none;
    }

    /*#hamburger{*/
    /*display: none;*/
    /*}*/
    /*#mobile-navbar {*/
    /*    position: fixed;*/
    /*    top: 0;*/
    /*    left: 0;*/
    /*    width: 100%;*/
    /*    z-index: 1000;*/
    /*    background: rgba(38, 156, 212, 0.95);*/
    /*    padding: 10px 0;*/
    /*}*/
}
