*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

}
.contact-me-section{
    background-image: linear-gradient(to bottom right,#333333, #1c1c1c);
    z-index: 0;
}
.contact-me-container{
    align-items: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(to bottom right,#333333, #1c1c1c);

    /*margin-left: 50px;*/
    /*margin-right: 50px;*/

}
.contact-box {
    background-color: #269cd4;
    max-width: 900px;
    width: 100%;
    margin: auto;
    padding-top: 150px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    max-height: 60vh;
    background-color: rgba(38, 156, 212, 0.85);
    border: black solid 1px;

    box-shadow: 0 4px 24px rgba(0,0,0,0.12);
}
.contact-me-h{
    display: flex;
    font-size: 5em;
}
.contact-info{
    display: flex;
    flex-direction: column;
}
.second-profile-pic{
    border-radius: 25px;
    width: 20em;
    height: 20em;
    position: relative;
    border: 2px solid black;
    /*border-image: linear-gradient(to bottom right,#333333, #1c1c1c);*/
    /*border-image-slice: 1;*/
    z-index: 100;
    /*left: -50px;*/
/*    i want my profile pic to load in from the center and shift towards the right, opposite of the Quote*/
}
.contact-info {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     z-index: 0;

 }
.quote{
    font-size: 3em;
    color: white;
    display: flex;
    position: relative;
    flex-direction: row;
    top: -250px;
    left: -70px;
    border-radius: 20px;
    padding: 5px 15px;
    width: auto;
    max-width: 220px;
    text-align: center;
    background-image: linear-gradient(to bottom right,#333333, #1c1c1c);

}

.email-address{

    font-size: 1.5em;
    color: white;
    display: flex;
    position: relative;
    flex-direction: row;
    border-radius: 20px;
    padding: 5px 15px;
    width: auto;
    text-align: center;
    background-image: linear-gradient(to bottom right,#333333, #1c1c1c);
    top: -200px;
    left: -70px;
    z-index: 0;
    scale: 0.1;

}

.contact-me-h{

    margin: 0 auto;
    width: auto;
    padding: 5px 15px;
    font-size: 4em;
    color: white;
    display: flex;
    position: relative;
    flex-direction: row;
    border-radius: 20px;
    ;
    text-align: center;
    background-image: linear-gradient(to bottom right,#333333, #1c1c1c);
}
.email{
    text-align: center;

}

.email-link{
    color: white;
    text-decoration: none;
    }

.contact-form{
    text-decoration: none;
}