*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /*font-family: '', sans-serif;*/
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.logo{
    flex: 3;
}

.log-img{
    width: 120px;
}

.tagline,
.about {
    flex: 1;
}

nav p {
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

nav p span {
    color: grey;
}
.h-h1{
    text-transform: uppercase;
    font-size: 4vw;
    font-weight: 500;
    color: black;
}

.hero, .outro {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #edebde;
}
.sticky{
    background-color: #282828;
}
.titles{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 400vw;
    height: 100vh;
    display: flex;
    will-change: transform;
}
.title{
    position: relative;
    flex: 0 0 100vw;
    min-width: 100vw;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.title h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:9vw;
    font-style: italic;
    will-change: transform;
}
h1.title-1{
    color: #269cd4;
}
h1.title-2{
    color: #3f3f3f;
}
h1.title-3{
    color: black;
}
.images{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250vw;
    height: 250vw;
    transform-style: preserve-3d;
    perspective: 2000px;
    z-index: -1;
}
.card{
    position: absolute;
    width: 15%;
    height: 15%;
    border-radius: 2em;
    transform-style: preserve-3d;
    will-change: transform;
    overflow: hidden;
}