*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/*.h-scroll-section::before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100vw;*/
/*    !*height: 100px;*!*/
/*    pointer-events: none;*/
/*    backdrop-filter: blur(18px);*/
/*    opacity: 1;*/
/*    transition: opacity 0.3s ease;*/
/*    z-index: 10;*/
/*    background: linear-gradient(to bottom, #333333 0%, rgba(51,51,51,0) 100%);*/
/*}*/

/*.h-scroll-blur {*/
/*    position: absolute;*/
/*    top: 0; left: 0;*/
/*    width: 100vw; height: 120px;*/
/*    pointer-events: none;*/
/*    z-index: 20;*/
/*    backdrop-filter: blur(18px);*/
/*    opacity: 1;*/
/*    transition: opacity 0.2s;*/
/*}*/
.h-scroll-section, .outro {
    position: relative;
    width: 100vw;
    height: 110vh;
    overflow: hidden;
}

.logo{
    flex: 3;
}

.log-img{
    width: 120px;
}

.tagline,
.about {
    flex: 1;
}

nav p {
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

nav p span {
    color: grey;
}
.h-h1{
    display: block;
    text-transform: uppercase;
    font-size: 11vw;
    font-weight: 500;
    color: black;
    text-align: center;
    line-height: 1.05;
}

.hero, .outro {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: rgba(38, 156, 212, 0.85);
    font-size: 7vw;
    opacity: 100%;


}
.sticky{
    /*I thought this was cool but it looks a bit dated.*/
    /*background-image: linear-gradient(to bottom right,#000000,#06344e, #269cd4, #333333);*/
    /*border-bottom: #000000 solid 10px;*/
    /*border-top: #000000 solid 10px;*/
}
.h-scroll-titles{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 400vw;
    height: 20vh;
    display: flex;
    will-change: transform;
}
.h-scroll-title{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex: 0 0 100vw;
    min-width: 100vw;
    max-width: 100vw;
    height: 100vh;
}
.h-scroll-title h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:9vw;
    font-style: italic;
    will-change: transform;
}
h1.title-1{
    color: #269cd4;
}
h1.title-2{
    color: #333333;
}
h1.title-3{
    color: black;
}
.h-scroll-images{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250vw;
    height: 250vw;
    transform-style: preserve-3d;
    perspective: 2000px;
    z-index: -1;
}
.h-scroll-images .h-scroll-card{
    position: absolute;
    width: 15%;
    height: 15%;
    border-radius: 2em;
    transform-style: preserve-3d;
    will-change: transform;
    overflow: hidden;
}

.blue-always{
    background-image: linear-gradient(to bottom right, #393939, #1b1b1b, #1b1b1b);
    /*webkit-only: restricts the backtround to the text glyphs so the gradient shows through letters
     background-clip:text -> non-prefixed attempt to clip background to text (limited broswer support)
     -webkit-text-fill-color transparent -> webkit-only: makes the text fill transparent so the clipped background becomes visible*/
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    opacity: 80%;
}
/*.h-scroll-spacer{*/
/*width: 100vw;*/
/*height: 100vh;*/

/*}*/