@font-face{
    src:url(project-files/archivo.ttf);
    font-family:archivo;
}
*{box-sizing:border-box;}

body{
    background-image: linear-gradient(to bottom right,#333333, #1c1c1c);
    font-family: archivo, serif;
    padding-top: 80px; /* To prevent content from being hidden behind the navbar */
}

#intro{
    background-image: linear-gradient(to bottom right,#333333, #1c1c1c);
    padding-top:20px;
    padding-bottom:40px;
    /*padding-bottom:20px;*/
    display:flex;
    justify-content: center;
    flex-direction: column;
    place-items: center; /* Align items both horizontally and vertically */
    /*height: 50vh; !* Full viewport height *!*/
}
/*remove element*/
/*#intro h1{*/

/*    !*outline: black solid 2px;*!*/
/*    border-radius: 15px;*/
/*    !*background-image: linear-gradient(to bottom right,#06344e, #269cd4, #333333);    padding: 1rem;*!*/
/*    color: black;*/

/*    justify-content: center;*/
/*    !*align-items: center;*!*/
/*    display:flex;*/
/*    !*margin-top:100px;*!*/
/*    font-size:10vw;*/
/*    margin: 50px auto;*/

/*    !*background:*!*/
/*    !*linear-gradient(to right,*!*/
/*    !*rgba(149, 203, 225, 0.85) 0%,*!*/
/*    !*rgb(35, 141, 191) 50%,*!*/
/*    !*rgb(62, 128, 165) 50%,*!*/
/*    !*rgba(0, 0, 0, 0.85) 100%);*!*/
/*    !*background-size: 100% 0.1em, 0 0.1em;*!*/
/*    !*background-repeat: no-repeat;*!*/
/*    !*background-position : 100% 100%;*!*/
/*    !*background*!*/
/*    !*background-color: #ffffff;*!*/
/*}*/

.intro-flex{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}
.profile-pic{
    margin-left:25px;
    margin-right: 7px;
    align-items: center;
    display: flex;
    border:10px solid rgba(38, 156, 212, 0.85);
    height:auto;
    width:30rem;
    max-width:800px;
    border-radius: 50%;
}
#intro-text{
    word-break: break-word;
    color: black;
    font-size: 1.8rem;
    font-weight: bolder;
    display:block;
    flex-direction: row;
    margin: 50px 50px;
    background-color: rgba(38, 156, 212, 0.85);
    padding: 20px;
    border-radius: 15px;


}
.my-name{
    word-break: break-word;
    color: #e8e8e8;
    font-size: 1.9rem;
    font-weight: bold;
    margin-bottom: 10px;
}
@media screen and (max-width: 1200px){

    .intro-flex{
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        margin: 20px;
    }
    #profile-pic{

         margin: 0 auto 20px auto;
         width:50%;
         display: block;
     }
}

/*.about-me-underline{*/

/*    width:30%;*/
/*    border: 2px solid #269cd4;*/
/*    margin-bottom: 20px;*/

/*}*/

@media screen and (max-width: 800px){
    #intro-text{
        font-size: 4vw;
    }
    .my-name{
        font-size: 5vw;
    }
    .profile-pic{
        align-items : center;
        margin: 0;
        width: 75%;
    }
}